{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated and current_page == "index" %}
        <button id="create_opinion">New Opinion</button>
        <form id="new_opinion" style="display: none;" method="post" action="{% url 'index' %}">
            {% csrf_token %}
            <div class="form-group">
                Title:<input autofocus class="form-control" type="text" name="opinion_title" placeholder="Title" required>
            </div>
            <div class="form-group">
                Body:<textarea class="form-control" name="opinion_body" placeholder="Body" required></textarea>
            </div>
            <input class="btn btn-primary" type="submit" value="Post">
        </form>
        <hr>
    {% endif %}
    <div class="posts">
        {% for opinion in opinions %}
            <div id="{{opinion.id}}" class="opinions">
                <div id="username"><a href="{% url 'profile' opinion.user.username %}">{{opinion.user.username}}</a></div>
                <div id="title">{{opinion.title}}</div>
                <div id="body">{{opinion.body}}</div>
                <div id="date">{{opinion.date}}</div>
                <button id="likes" data-csrf="{{csrf_token}}">{{opinion.likes.count}}</button>

            </div>
            <hr>
        {% endfor %}
    </div>
    <div class="pagination">
        page {{opinions.number}} of {{opinions.paginator.num_pages}}
        <div>
            {% if opinions.has_previous %}
                <a href="?page={{ opinions.previous_page_number }}">Previous</a>
            {% endif %}
            {% if opinions.has_next %}
                <a href="?page={{ opinions.next_page_number }}">Next</a>
            {% endif %}
        </div>
    </div>

    <script>
            document.querySelector("#create_opinion").onclick = () => {
                document.querySelector("#new_opinion").style.display = "block";
            }
    </script>
    
{% endblock %}