{% extends "network/layout.html" %}
{% block body %}
    <div id="profile_view">
        <div id="profile_username" data-username="{{profile.username}}">{{profile.username}}</div>
        <div id="profile_following">following <span id="profile_following_number">{{profile.following.count}}</span> users</div>
        <div id="profile_followers">followers: <span id="profile_followers_number">{{profile.followers.count}}</span></div>
        {% if profile != user and user.is_authenticated %}
            <button id="follow_button" data-csrf="{{ csrf_token }}">
                {% if profile in user.following.all %}
                    unfollow
                {% else %}
                    follow
                {% endif %}
            </button>
        {% endif %} 
    </div>
    <hr>
    <br>

    <div class="posts row row-cols-1 mt-5">
        {% for opinion in profile_posts %}
            <div id="{{opinion.id}}" data-opinion_id="{{opinion.id}}" class="opinions col border-bottom pb-3 mb-3">
                <div id="username_date" class="row row-cols-2">
                    <!-- <a href="{% url 'profile' opinion.user.username %}" class="col-auto text-dark">@{{opinion.user.username}}</a> -->
                    <div id="date" class="col-auto date_posted">{{opinion.date|date:"Y-m-d H:i:s e"}}</div>
                    {% if user == opinion.user %}
                        <button id="edit_post" class="col-auto ml-auto btn btn-link text-primary">Edit post</button>
                    {% endif %}
                </div>
                <div id="title" class="row"><strong class="col">{{opinion.title}}</strong></div>
                <div id="body" class="row"><div class="col">{{opinion.body}}</div></div>
                {% if user.is_authenticated %}
                    <button id="likes" data-csrf="{{csrf_token}}" class="row"><div class="col">{{opinion.likes.count}}</div></button>
                {% else %}
                    <button id="likes" data-csrf="{{csrf_token}}" class="row" disabled><div class="col">{{opinion.likes.count}}</div></button>
                {% endif %}

            </div>
        {% empty %}
            <div>No posts by user</div>
        {% endfor %}
    </div>
    <div id="edit_view">
        <form id="edit_opinion">
            <div class="form-group">
                Title:<input autofocus class="form-control" type="text" name="opinion_title" id="edit_title" placeholder="Title" required>
            </div>
            <div class="form-group">
                Body:<textarea class="form-control" name="opinion_body" id="edit_body" placeholder="Body" required></textarea>
            </div>
            <button class="btn btn-primary" data-csrf="{{csrf_token}}" id="save_edit" type="button">Save</button>
            <button class="btn btn-light" id="cancel_edit" type="button">Cancel</button>
        </form>
    </div>

    {% load static %}
    <script src="{% static 'network/post.js' %}"></script>
    {% if profile != user and user.is_authenticated %}
        <script>
            document.querySelector("#follow_button").onclick = function() {
                fetch("", {
                    method: "POST",
                    headers: {
                        "Source": "follow_unfollow",
                        "Content-Type" : "application/json",
                        "X-CSRFToken" : this.dataset.csrf
                    },
                    body: JSON.stringify({
                        "task": this.innerText
                    })
                })
                .then(response => {
                    if(response.ok){
                        return response.json()
                    }
                })
                .then(data => {
                    console.log(data)
                })
                .catch(error => {
                    console.error("Fetch error:", error);
                });
                
                followers = document.querySelector("#profile_followers_number")
                if(this.innerText === "follow"){
                    this.innerText = "unfollow"
                    followers.innerText = parseInt(followers.innerText) + 1
                }
                else{
                    this.innerText = "follow"
                    followers.innerText = parseInt(followers.innerText) - 1
                }
            }
        </script>
    {% elif profile == user %}
        <script>
            document.querySelectorAll("#edit_post").forEach(button => {
                button.onclick = function(){
                    opinion = this.parentElement.parentElement
                    title = opinion.querySelector('#title strong').innerText;
                    body = opinion.querySelector('#body div').innerText;
                    document.querySelector("#edit_title").value = title;
                    document.querySelector("#edit_body").value = body;

                    document.querySelector("#edit_view").style.display = 'flex' ;

                    document.querySelector("#save_edit").onclick = function(){
                        fetch(`/${opinion.id}/edit`, {
                            method : "PUT",
                            headers : {
                                "Source" : "Edit post",
                                "Content-Type" : "application/json",
                                "X-CSRFToken" : this.dataset.csrf
                            },
                            body : JSON.stringify({
                                title : document.querySelector("#edit_title").value,
                                body : document.querySelector("#edit_body").value
                            })
                        })
                        .then(response => response.json())
                        .then(data => {
                            console.log(data)
                            document.querySelector("#edit_view").style.display = 'none'
                            opinion.querySelector('#title strong').innerText = data.title
                            opinion.querySelector('#body div').innerText = data.body
                        })
                        .catch(error => {
                            console.error("Fetch error:", error);
                        });
                    }

                }
            });

            document.querySelector("#cancel_edit").onclick = () => {
                document.querySelector("#edit_view").style.display = 'none'
            }
        </script>
    {% endif %}
{% endblock %}
