body{
    margin: 0;
    padding: 0;
    background-color: #0B1416;
    color: white;
}

.btn:active, .btn:focus, .form-control:active, .form-control:focus{
    box-shadow: none;
    outline: none;
}

.top-nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;

    background-color: #0B1416;
    border-bottom: 1px solid #242C2E;
}

.sidebar{
    height: 100%;
    position: fixed;
    padding-top: 6rem;
    display: flex;
    justify-content: flex-end;
    z-index: 10;
    border-right: 1px solid #242C2E;
}

.unactive_page:hover{
    background-color: #28353a5b;
}

.active_page{
    background-color: #1A282D;
}


.body{
    padding: 2rem;
    padding-top: 6rem;
    box-sizing: border-box;
    position: relative;
}

/* black screen */
.opinions{
    border-bottom: 2px solid #242C2E;
}

#username{
    text-decoration: none;
    font-size: 0.9rem;
    color: #A7B6BF;
}

#username:hover{
    text-decoration: none;
}

#title{
    font-size: 1.3rem;
    color: #ffffff;
}

#body{
    font-size: 0.9rem;
    color: #B8C5C9;
}

#date, #point{
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    color: #A7B6BF;
}

#create_opinion{
    min-width: fit-content;
    font-size: 0.9rem;
}

#menu{
    min-width: max-content;
    position: absolute;
    right: 50%;
    top: 80%;
    background-color: #1e2e33;
    z-index: 1;
}

#menu a:hover{
    background-color: #2a444b;
}

#likes{
    max-width: fit-content;
    background-color: #1A282D;
}

#like_icon svg:hover{
    stroke: #D93A00;
}

#login_logout{
    background-color: #D93A00;
    font-size: 0.9rem;
}

#login_logout:hover{
    background-color: #962900;
}

.page-link{
    background-color: #96280000;
    border: none;
}

.textarea{
    width: 100%;
    columns: auto;
    border: 1px solid #485a5f;
    font-size: 1.3rem;
    color: white;
    outline: none;
    resize: none;
    background-color: transparent;
}